header, footer {
    background-color: #b9e3e7;
    flex-direction: column;
    border: 1px solid #f3ecec;
    padding : .5em;
    font-size: 1.2em;
    text-align: center;
}

.head {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.accroche {
    padding : 1em;
    text-align: center;
}

main {
    flex: 1;
    background-color: #ececf3;
    border: 1px solid #f3ecec;
    padding : .5em;
    font-size: 1.2em;

}

.tchat {
    margin : 0 auto;
    height : 480px;
    overflow : auto;
    display: flex;
    flex-direction: column;
}

#inp {
    flex-grow: 3;
    border-radius: 10px;
}
#enter {
    border-radius: 10px;

}

.zone_button {
    display : flex;
    flex-direction: row;
}
.fontesome{
    flex-direction: row;

}

.fab {
    color : #f3ecec;
    font-size: 1.2em;
    border: 1px solid #f3ecec;
    border-radius: 4em;
    padding : .5em;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.spinner {
    flex-grow: 0.2;
    transform-origin: 50% 50%;
    -webkit-animation: rotating 2s linear infinite;
}

@media all and (min-width: 200px) and (max-width: 400px) {
    .computer {
        display: flex;
        align-items: center;
        background: #4040DD;
        width: 95%;
        margin-bottom: 14px;
        padding: 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
    }

    .user {
        align-self: flex-end;
        background: #868686;
        width: 95%;
        margin-bottom: 14px;
        padding: 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 401px) and (max-width: 600px) {
    .computer {
        display: flex;
        align-items: center;
        background: #4040DD;
        width: 75%;
        margin-bottom: 14px;
        padding: 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
    }

    .user {
        align-self: flex-end;
        background: #868686;
        width: 75%;
        margin-bottom: 14px;
        padding: 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 601px) and (max-width: 800px) {
    .computer {
        display: flex;
        align-items: center;
        background: #4040DD;
        width: 55%;
        margin-bottom: 14px;
        padding: 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
    }

    .user {
        align-self: flex-end;
        background: #868686;
        width: 55%;
        margin-bottom: 14px;
        padding: 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
    }
}

@media all and (min-width: 801px){
    .computer {
        display: flex;
        align-items: center;
        background: #4040DD;
        width: 40%;
        margin-bottom: 14px;
        padding: 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
    }

    .user {
        align-self: flex-end;
        background: #868686;
        width: 40%;
        margin-bottom: 14px;
        padding: 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
    }
}